.custom-input-wrapper{
    border: 0.5px solid grey;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.input-focus{
    border: 1px solid var(--clr-dark-blue);
}

.custom-input-wrapper input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}

