.top-section-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
}

.top-section-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.top-section-container p.sm-text{
    color: grey;
}